<p-card>
  <div class="flex flex-col gap-3">
    @if (alias()) {
      <div class="flex items-center justify-between gap-2">
        <p-tag
          [severity]="alias().mask_type === 'random' ? 'info' : 'success'"
          value="{{ alias().mask_type }}"
          class="capitalize"
        />

        <div class="flex items-center gap-2">
          <p-button
            icon="ph ph-info"
            severity="secondary"
            size="small"
            (click)="isAliasDialogVisible.set(true)"
          />

          <p-button
            icon="ph ph-trash"
            severity="danger"
            size="small"
            (click)="isDeleteAliasDialogVisible.set(true)"
          />
        </div>
      </div>
    } @else {
      <p-skeleton height="35px" width="25%" />
    }

    @if (alias()) {
      <form (ngSubmit)="updateAliasLabel()" class="flex items-center justify-between gap-2">
        @if (isAliasLabelEditable()) {
          <input
            #aliasLabelInputRef
            type="text"
            name="alias-label"
            pInputText
            [ngModel]="aliasLabel()"
            (ngModelChange)="aliasLabel.set($event)"
            (keydown)="hideAliasLabelInput($event)"
            autocomplete="off"
            fluid
          />

          <div class="flex items-center gap-2">
            <p-button
              icon="ph ph-x"
              severity="secondary"
              size="small"
              (click)="isAliasLabelEditable.set(false)"
            />

            <p-button
              icon="ph {{ isSavingAliasLabel() ? 'ph-circle-notch animate-spin' : 'ph-check' }}"
              severity="success"
              size="small"
              [disabled]="isSavingAliasLabel()"
              (click)="updateAliasLabel()"
            />
          </div>
        } @else {
          <h3
            class="text-lg py-1.75 pr-0.5 truncate {{
              alias().description ? 'font-bold' : 'text-current/50 italic'
            }}"
          >
            {{ alias().description || 'No label' }}
          </h3>

          <p-button
            icon="ph ph-pencil"
            severity="secondary"
            size="small"
            (click)="showAliasLabelInput()"
          />
        }
      </form>
    } @else {
      <p-skeleton height="42px" />
    }

    @if (alias()) {
      <div class="flex items-center justify-between gap-2">
        <span class="truncate">{{ alias().full_address }}</span>

        <p-button icon="ph ph-copy" severity="secondary" size="small" (click)="copyAddress()" />
      </div>
    } @else {
      <p-skeleton height="35px" width="75%" />
    }

    <div class="mt-2">
      <p-selectbutton
        [options]="blockingLevels()"
        optionValue="value"
        optionLabel="label"
        allowEmpty="false"
        fluid
        [ngModel]="blockingLevel()"
        (ngModelChange)="updateBlockingLevel($event)"
        [disabled]="!alias() || isSavingBlockingLevel()"
      >
        <ng-template #item let-item>
          @if (item.value === blockingLevel() && isSavingBlockingLevel()) {
            <span class="flex text-2xl">
              <i class="ph ph-circle-notch animate-spin"></i>
            </span>
          } @else {
            <span>{{ item.label }}</span>
          }
        </ng-template>
      </p-selectbutton>
    </div>
  </div>
</p-card>

@if (alias()) {
  <p-dialog
    header="Delete alias?"
    [(visible)]="isDeleteAliasDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-4">
      <span class="text-lg font-bold break-all">{{ alias().full_address }}</span>

      <p>
        Once you delete this alias, it cannot be recovered. You will no longer receive any emails
        sent to it.
      </p>

      <p>
        If you use this alias to sign in to any accounts, you should change those account emails
        before deleting this alias.
      </p>

      <p-message severity="error" icon="ph ph-warning">
        <p class="font-normal">This action cannot be undone.</p>
      </p-message>
    </div>

    <ng-template #footer>
      <div class="w-full flex gap-4">
        <p-button
          label="Cancel"
          severity="secondary"
          fluid
          class="flex-1"
          (click)="isDeleteAliasDialogVisible.set(false)"
        />

        <p-button
          label="Delete"
          severity="danger"
          fluid
          [loading]="isDeletingAlias()"
          class="flex-1"
          (click)="deleteAlias()"
        />
      </div>
    </ng-template>
  </p-dialog>
}

@if (alias()) {
  <p-dialog
    header="Alias"
    [(visible)]="isAliasDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-0.5">
        <span>Label</span>
        <span
          class="break-all {{ alias().description ? 'font-medium' : 'text-current/50 italic' }}"
        >
          {{ alias().description || 'No label' }}
        </span>
      </div>

      <div class="flex flex-col gap-0.5">
        <span>Address</span>
        <span class="break-all font-medium">{{ alias().full_address }}</span>
      </div>

      <div class="flex flex-col gap-0.5">
        <span>Blocking level</span>
        <span class="break-all font-medium">
          {{ blockingLevels().find(level => level.value === blockingLevel())?.longLabel }}
        </span>
        <span class="text-sm text-current/50">
          {{ blockingLevels().find(level => level.value === blockingLevel())?.description }}
        </span>
      </div>

      <div class="mt-4 flex flex-col gap-1">
        <div class="flex items-center justify-between gap-4">
          <span>Emails blocked</span>
          <span class="font-medium">{{ alias().num_blocked }}</span>
        </div>

        <div class="flex items-center justify-between gap-4">
          <span>Emails forwarded</span>
          <span class="font-medium">{{ alias().num_forwarded }}</span>
        </div>

        <div class="flex items-center justify-between gap-4">
          <span>Emails replied</span>
          <span class="font-medium">{{ alias().num_replied }}</span>
        </div>

        <div class="flex items-center justify-between gap-4">
          <span>Trackers blocked</span>
          <span class="font-medium">{{ alias().num_level_one_trackers_blocked }}</span>
        </div>

        <div class="flex items-center justify-between gap-4">
          <span>Created</span>
          <span class="font-medium">{{ alias().created_at | date: 'dd MMM yyyy' }}</span>
        </div>

        <div class="flex items-center justify-between gap-4">
          <span>Last used</span>
          <span class="{{ alias().last_used_at ? 'font-medium' : 'text-current/50 italic' }}">
            {{ alias().last_used_at ? (alias().last_used_at | date: 'dd MMM yyyy') : 'Never' }}
          </span>
        </div>
      </div>
    </div>
  </p-dialog>
}
