<p-toolbar
  class="shadow-sm mb-4"
  [style]="{
    borderTop: 'none',
    borderInline: 'none',
    borderRadius: '0px',
    padding: '16px',
  }"
>
  <ng-template #start>
    <div class="flex items-center gap-2">
      <p-avatar image="favicon.svg" />
      <h1 class="text-lg font-bold">Relay Manager</h1>
    </div>
  </ng-template>

  <ng-template #end>
    <p-button
      icon="ph ph-gear"
      rounded="true"
      outlined="true"
      severity="secondary"
      (click)="toggleDrawer($event)"
    />
  </ng-template>
</p-toolbar>

<p-drawer #drawerRef [(visible)]="drawerVisible" position="right" appendTo="body">
  <ng-template #headless>
    <div class="flex flex-col h-full">
      <div class="flex items-center justify-between p-4">
        <span class="text-2xl font-semibold">Settings</span>

        <p-button
          icon="ph ph-x"
          rounded="true"
          outlined="true"
          severity="secondary"
          (click)="toggleDrawer($event)"
        />
      </div>

      <div class="overflow-y-auto flex flex-col gap-4 px-4 pb-4">
        <p-panel header="Theme">
          <div class="flex flex-col gap-4">
            <label class="flex items-center gap-2 cursor-pointer">
              <p-radiobutton
                name="theme"
                value="system"
                [ngModel]="theme()"
                (ngModelChange)="onThemeChange($event)"
              />

              <span>System</span>
            </label>

            <label class="flex items-center gap-2 cursor-pointer">
              <p-radiobutton
                name="theme"
                value="light"
                [ngModel]="theme()"
                (ngModelChange)="onThemeChange($event)"
              />

              <span>Light</span>
            </label>

            <label class="flex items-center gap-2 cursor-pointer">
              <p-radiobutton
                name="theme"
                value="dark"
                [ngModel]="theme()"
                (ngModelChange)="onThemeChange($event)"
              />

              <span>Dark</span>
            </label>
          </div>
        </p-panel>

        <p-panel header="Source code">
          <a
            pButton
            href="https://github.com/patel-priyank/Relay-Manager"
            target="_blank"
            rel="noopener noreferrer"
            icon="ph ph-github-logo"
            size="small"
            severity="secondary"
          >
            <span pButtonLabel>GitHub</span>
          </a>
        </p-panel>

        <p-panel header="Support the project">
          <a
            pButton
            href="https://buymeacoffee.com/priyankp"
            target="_blank"
            rel="noopener noreferrer"
            icon="ph ph-coffee"
            size="small"
            severity="secondary"
          >
            <span pButtonLabel>Buy me a coffee</span>
          </a>
        </p-panel>
      </div>
    </div>
  </ng-template>
</p-drawer>
