<div class="flex flex-col gap-8 pb-16">
  <div class="grid grid-cols-1 sm:grid-cols-5 gap-4 justify-between">
    <div class="sm:col-span-2 flex-1 flex flex-col items-start gap-4">
      <div class="flex flex-col items-start gap-1 w-full">
        <span class="text-current/50">Welcome,</span>

        @if (data()) {
          <div class="flex items-center gap-2 w-full">
            <span class="text-xl font-medium truncate">
              {{ data().email }}
            </span>

            <p-button
              icon="ph ph-caret-right"
              rounded
              severity="secondary"
              class="btn-xs flex"
              (click)="isProfileDialogVisible.set(true)"
            />
          </div>
        } @else {
          <p-skeleton height="28px" />
        }
      </div>

      @if (data()) {
        <div class="flex items-center gap-2">
          <p-tag severity="success" value="{{ data().profile.has_premium ? 'Premium' : 'Free' }}" />

          @if (data().profile.has_premium) {
            <p-button
              icon="ph ph-question-mark"
              rounded
              severity="secondary"
              class="btn-xs flex"
              (click)="isSubscriptionDialogVisible.set(true)"
            />
          }
        </div>
      } @else {
        <p-skeleton height="29px" width="25%" />
      }

      <p-button label="Disconnect" icon="ph ph-link-simple-break" (click)="disconnect()" />
    </div>

    <div class="sm:col-span-3 grid grid-cols-2 gap-2">
      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.emails_blocked }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Emails blocked</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.emails_forwarded }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Emails forwarded</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.emails_replied }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Emails replied</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.level_one_trackers_blocked }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Trackers blocked</span>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-2">
      <div class="flex flex-col gap-1 md:w-full md:max-w-xs">
        <div class="text-current/50 text-sm px-2 flex items-center gap-1">
          <span>Search</span>
        </div>

        <p-iconfield>
          <p-inputicon class="ph ph-magnifying-glass pointer-events-none" />

          <input
            type="text"
            pInputText
            placeholder="Label or address"
            [ngModel]="searchQuery()"
            (ngModelChange)="onSearchChange($event)"
            fluid
            [disabled]="!data()"
          />

          <p-inputicon
            class="ph ph-x {{ searchQuery() ? 'cursor-pointer' : 'pointer-events-none opacity-0' }}"
            (click)="onSearchChange('')"
          />
        </p-iconfield>
      </div>

      <div class="flex flex-col sm:flex-row gap-4 sm:gap-2">
        <div class="flex flex-col gap-1 flex-1 md:w-[240px]">
          <div class="text-current/50 text-sm px-2 flex items-center gap-1">
            <span>Sort by</span>
          </div>

          <p-select
            [options]="sortOptions"
            optionValue="value"
            optionLabel="label"
            [ngModel]="sortValue()"
            (ngModelChange)="onSortChange($event)"
            [disabled]="!data()"
            scrollHeight="300px"
            class="w-full"
          />
        </div>

        <div class="flex flex-col gap-1 flex-1 md:w-[240px]">
          <div class="text-current/50 text-sm px-2 flex items-center gap-1">
            <span>Filters</span>

            @if (
              filterOptions().map((option) => option.items.map((item) => item.value)).flat().length !== filterValue().length
            ) {
              <div class="w-2 h-2 rounded-full bg-(--p-primary-color)"></div>
            }
          </div>

          <p-multiselect
            group
            showHeader="false"
            highlightOnSelect="false"
            [maxSelectedLabels]="0"
            [selectedItemsLabel]="filterLabel()"
            [options]="filterOptions()"
            [ngModel]="filterValue()"
            (ngModelChange)="onFilterChange($event)"
            [disabled]="!data()"
            scrollHeight="300px"
            class="filter-dropdown w-full"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="paginator flex items-center justify-center gap-4 flex-col-reverse sm:flex-row">
    <p-paginator
      [first]="paginatorFirst()"
      [rows]="paginatorRows()"
      [totalRecords]="paginatorTotalRecords()"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} to {last} of {totalRecords}"
      [showPageLinks]="false"
      (onPageChange)="onPageChange($event)"
      class="page-report"
    />

    <p-paginator
      [first]="paginatorFirst()"
      [rows]="paginatorRows()"
      [totalRecords]="paginatorTotalRecords()"
      [pageLinkSize]="3"
      (onPageChange)="onPageChange($event)"
    />
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    @if (data()) {
      @if (aliases() && aliases().length > 0) {
        @for (
          alias of aliases().slice(paginatorFirst(), paginatorFirst() + paginatorRows());
          track alias.id
        ) {
          <app-alias-card
            [alias]="alias"
            [isPremiumUser]="data().profile.has_premium"
            (onUpdateAlias)="updateAlias($event)"
            (onDeleteAlias)="deleteAlias($event)"
            (onShowMessage)="showMessage($event)"
          />
        }
      } @else {
        <div class="sm:col-span-2 flex flex-col items-center gap-4 text-current/50">
          <i class="ph ph-mask-sad text-5xl"></i>

          <span class="text-center text-balance">
            @if (data().aliases.length > 0) {
              No aliases found. Try adjusting your search or filters.
            } @else {
              No aliases yet. Time to make a new one!
            }
          </span>
        </div>
      }
    } @else {
      @for (item of skeletonAliasCards(); track item) {
        <app-alias-card />
      }
    }
  </div>
</div>

<p-toast class="max-w-[calc(100%-40px)]" />

@if (data()) {
  <p-dialog
    header="Profile"
    [(visible)]="isProfileDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-0.5">
        <span>Email</span>
        <span class="break-all font-medium">{{ data().email }}</span>
      </div>

      <div class="flex flex-col gap-0.5">
        <span>API Key</span>
        <span class="break-all font-medium">{{ data().profile.api_token }}</span>
      </div>
    </div>
  </p-dialog>
}

@if (data()) {
  <p-dialog
    header="Subscription"
    [(visible)]="isSubscriptionDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-0.5">
        <span>Subscribed on</span>
        <span class="break-all font-medium">
          {{ data().profile.date_subscribed | date: 'dd MMM yyyy' }}
        </span>
      </div>
    </div>
  </p-dialog>
}
