<div class="flex flex-col gap-4 pb-25">
  <div class="grid grid-cols-1 sm:grid-cols-5 gap-4 justify-between">
    <div class="sm:col-span-2 flex-1 flex flex-col items-start gap-4">
      <div class="flex flex-col items-start gap-1 w-full">
        <span class="text-current/50">Welcome,</span>

        @if (data()) {
          <div class="flex items-center gap-2 w-full">
            <span class="text-xl font-semibold truncate">
              {{ data().email }}
            </span>

            <p-button
              icon="ph ph-caret-right"
              rounded
              severity="secondary"
              class="btn-xs flex"
              (click)="profileDialogVisible.set(true)"
            />
          </div>
        } @else {
          <p-skeleton height="28px" [style]="{ maxWidth: '320px' }" />
        }
      </div>

      @if (data()) {
        <div class="flex items-center gap-2">
          <p-tag severity="success" value="{{ data().profile.has_premium ? 'Premium' : 'Free' }}" />

          @if (data().profile.has_premium) {
            <p-button
              icon="ph ph-question-mark"
              rounded
              severity="secondary"
              class="btn-xs flex"
              (click)="subscriptionDialogVisible.set(true)"
            />
          }
        </div>
      } @else {
        <p-skeleton height="29px" width="100px" />
      }

      <p-button label="Disconnect" icon="ph ph-link-simple-break" (click)="disconnect()" />
    </div>

    <div class="sm:col-span-3 grid grid-cols-2 gap-2">
      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-bold">{{ data().profile.emails_blocked }}</span>
          } @else {
            <p-skeleton height="28px" width="80px" />
          }

          <span class="text-sm text-current/50 truncate">Emails blocked</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-bold">{{ data().profile.emails_forwarded }}</span>
          } @else {
            <p-skeleton height="28px" width="80px" />
          }

          <span class="text-sm text-current/50 truncate">Emails forwarded</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-bold">{{ data().profile.emails_replied }}</span>
          } @else {
            <p-skeleton height="28px" width="80px" />
          }

          <span class="text-sm text-current/50 truncate">Emails replied</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-bold">{{ data().profile.level_one_trackers_blocked }}</span>
          } @else {
            <p-skeleton height="28px" width="80px" />
          }

          <span class="text-sm text-current/50 truncate">Trackers blocked</span>
        </div>
      </p-panel>
    </div>
  </div>

  <p-divider type="dotted" />

  <div class="flex flex-col gap-4">
    <div class="flex justify-between gap-2">
      <p-iconfield class="flex-grow-1 max-w-xs">
        <p-inputicon class="ph ph-magnifying-glass pointer-events-none" />

        <input type="text" placeholder="Search" pInputText [(ngModel)]="searchQuery" fluid />

        <p-inputicon
          class="ph ph-x {{ searchQuery() ? 'cursor-pointer' : 'pointer-events-none opacity-0' }}"
          (click)="searchQuery.set('')"
        />
      </p-iconfield>

      <div class="flex gap-2">
        <p-button icon="ph ph-arrows-down-up" severity="secondary" />

        <p-button icon="ph ph-funnel" severity="secondary" />
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      @if (data()) {
        @for (alias of data().aliases; track alias) {
          <app-alias-card [alias]="alias" [premiumUser]="data().profile.has_premium" />
        }
      } @else {
        @for (item of [1, 2, 3, 4, 5, 6]; track item) {
          <app-alias-card />
        }
      }
    </div>
  </div>
</div>

@if (data()) {
  <p-dialog
    header="Profile"
    [(visible)]="profileDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-0.5">
        <span>Email</span>
        <span class="break-all font-medium">{{ data().email }}</span>
      </div>

      <div class="flex flex-col gap-0.5">
        <span>API Key</span>
        <span class="break-all font-medium">{{ data().profile.api_token }}</span>
      </div>
    </div>
  </p-dialog>
}

@if (data()) {
  <p-dialog
    header="Subscription"
    [(visible)]="subscriptionDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-0.5">
        <span>Subscribed on</span>
        <span class="break-all font-medium">
          {{ data().profile.date_subscribed | date: 'dd MMM yyyy' }}
        </span>
      </div>
    </div>
  </p-dialog>
}
