<div class="flex flex-col gap-8 pb-16.25">
  <div class="grid grid-cols-1 sm:grid-cols-5 gap-4 justify-between">
    <div class="sm:col-span-2 flex-1 flex flex-col gap-4">
      <div class="flex flex-col gap-1 w-full">
        <span class="text-current/50">Welcome,</span>

        @if (data()) {
          <div class="flex items-center gap-2 w-full">
            <span class="text-xl font-medium truncate">
              {{ data().email }}
            </span>

            <p-button
              icon="ph ph-caret-right"
              rounded
              severity="secondary"
              class="btn-xs flex"
              (click)="isProfileDialogVisible.set(true)"
            />
          </div>
        } @else {
          <p-skeleton height="28px" />
        }
      </div>

      @if (data()) {
        <div class="flex items-center gap-2">
          <p-tag severity="success" value="{{ data().profile.has_premium ? 'Premium' : 'Free' }}" />

          @if (data().profile.has_premium) {
            <p-button
              icon="ph ph-question-mark"
              rounded
              severity="secondary"
              class="btn-xs flex"
              (click)="isSubscriptionDialogVisible.set(true)"
            />
          }
        </div>
      } @else {
        <p-skeleton height="29px" width="25%" />
      }

      <div class="flex gap-2">
        <p-button
          severity="secondary"
          icon="ph ph-arrow-clockwise"
          [disabled]="!data()"
          (click)="refresh()"
        />

        <p-button label="Disconnect" icon="ph ph-link-simple-break" (click)="disconnect()" />
      </div>
    </div>

    <div class="sm:col-span-3 grid grid-cols-2 gap-2">
      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.emails_blocked }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Emails blocked</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.emails_forwarded }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Emails forwarded</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.emails_replied }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Emails replied</span>
        </div>
      </p-panel>

      <p-panel showHeader="false" class="statistic-panel">
        <div class="flex flex-col gap-0.5 w-full">
          @if (data()) {
            <span class="text-xl font-medium">{{ data().profile.level_one_trackers_blocked }}</span>
          } @else {
            <p-skeleton height="28px" width="25%" />
          }

          <span class="text-sm text-current/50 truncate">Trackers blocked</span>
        </div>
      </p-panel>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-row justify-between gap-4 md:gap-2">
      <div class="flex flex-col gap-1 md:w-full md:max-w-xs">
        <div class="text-current/50 text-sm px-2 flex items-center gap-1">
          <span>Search</span>
        </div>

        <p-iconfield>
          <p-inputicon class="ph ph-magnifying-glass pointer-events-none" />

          <input
            type="text"
            pInputText
            placeholder="Label or address"
            [ngModel]="searchQuery()"
            (ngModelChange)="onSearchChange($event)"
            fluid
            [disabled]="!data()"
          />

          <p-inputicon
            class="ph ph-x {{ searchQuery() ? 'cursor-pointer' : 'pointer-events-none opacity-0' }}"
            (click)="onSearchChange('')"
          />
        </p-iconfield>
      </div>

      <div class="flex flex-col sm:flex-row gap-4 sm:gap-2">
        <div class="flex flex-col gap-1 flex-1 md:w-[240px]">
          <div class="text-current/50 text-sm px-2 flex items-center gap-1">
            <span>Sort by</span>
          </div>

          <p-select
            [options]="sortOptions"
            optionValue="value"
            optionLabel="label"
            [ngModel]="sortValue()"
            (ngModelChange)="onSortChange($event)"
            [disabled]="!data()"
            scrollHeight="300px"
            class="w-full"
          />
        </div>

        <div class="flex flex-col gap-1 flex-1 md:w-[240px]">
          @let allFilterValues =
            filterOptions().map((option) => option.items.map((item) => item.value)).flat();

          <div class="text-current/50 text-sm px-2 flex items-center gap-1">
            <span>Filters</span>

            @if (allFilterValues.length !== filterValue().length) {
              <div class="w-2 h-2 rounded-full bg-(--p-primary-color)"></div>
            }
          </div>

          <p-multiselect
            group
            showHeader="false"
            highlightOnSelect="false"
            [maxSelectedLabels]="0"
            [selectedItemsLabel]="filterLabel()"
            [options]="filterOptions()"
            [ngModel]="filterValue()"
            (ngModelChange)="onFilterChange($event)"
            [disabled]="!data()"
            scrollHeight="300px"
            class="filter-dropdown w-full"
          >
            <ng-template #footer>
              <div class="cursor-default px-3 py-2 flex justify-end">
                <p-button
                  label="Reset"
                  text
                  size="small"
                  [disabled]="allFilterValues.length === filterValue().length"
                  (click)="onResetFilters()"
                />
              </div>
            </ng-template>
          </p-multiselect>
        </div>
      </div>
    </div>
  </div>

  <div class="paginator flex items-center justify-center gap-4 flex-col-reverse sm:flex-row">
    <p-paginator
      [first]="paginatorFirst()"
      [rows]="paginatorRows()"
      [totalRecords]="paginatorTotalRecords()"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
      [showPageLinks]="false"
      (onPageChange)="onPageChange($event)"
      class="page-report"
    />

    <p-paginator
      [first]="paginatorFirst()"
      [rows]="paginatorRows()"
      [totalRecords]="paginatorTotalRecords()"
      [pageLinkSize]="3"
      (onPageChange)="onPageChange($event)"
    />
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    @if (data()) {
      @if (aliases() && aliases().length > 0) {
        @for (
          alias of aliases().slice(paginatorFirst(), paginatorFirst() + paginatorRows());
          track alias.id
        ) {
          <app-alias-card
            [alias]="alias"
            [isPremiumUser]="data().profile.has_premium"
            (onUpdateAlias)="updateAlias($event)"
            (onRequestDeleteAlias)="requestDeleteAlias($event)"
          />
        }
      } @else {
        <div class="sm:col-span-2 flex flex-col items-center gap-4 text-current/50">
          <i class="ph ph-mask-sad text-5xl"></i>

          <span class="text-center text-balance">
            @if (data().aliases.length > 0) {
              No aliases found. Try adjusting your search or filters.
            } @else {
              No aliases yet. Time to make a new one!
            }
          </span>
        </div>
      }
    } @else {
      @for (item of skeletonAliasCards(); track item) {
        <app-alias-card />
      }
    }
  </div>
</div>

<p-button
  icon="ph ph-arrow-up"
  label="Scroll to top"
  severity="contrast"
  raised
  size="small"
  class="fixed z-995 left-1/2 -translate-x-1/2 top-[var(--top)] transition-[opacity,top]"
  [class.opacity-0]="!showScrollToTop()"
  [class.pointer-events-none]="!showScrollToTop()"
  [style.--top]="'calc(' + headerHeight() + 'px + ' + (showScrollToTop() ? '16px' : '0px') + ')'"
  (click)="scrollToTop()"
/>

<p-button
  label="Create alias"
  raised
  size="large"
  class="fixed bottom-[var(--bottom)] right-4 z-995 transition-[opacity,bottom]"
  [class.opacity-0]="!data()"
  [class.pointer-events-none]="!data()"
  [style.--bottom]="'calc(' + (data() ? '16px' : '0px') + ')'"
  (click)="openCreateAliasDialog()"
/>

@if (data()) {
  <p-dialog
    header="Profile"
    [(visible)]="isProfileDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-0.5">
        <span>Email</span>
        <span class="break-all font-medium">{{ data().email }}</span>
      </div>

      <div class="flex flex-col gap-0.5">
        @let subdomain = data().profile.subdomain;

        <span>Relay Email Domain</span>
        <span class="break-all {{ subdomain ? 'font-medium' : 'text-current/50 italic' }}">
          {{ subdomain ? subdomain + '.mozmail.com' : 'No email domain' }}
        </span>
      </div>

      <div class="flex flex-col gap-0.5">
        <span>API Key</span>
        <span class="break-all font-medium">{{ data().profile.api_token }}</span>
      </div>
    </div>
  </p-dialog>
}

@if (data()) {
  <p-dialog
    header="Subscription"
    [(visible)]="isSubscriptionDialogVisible"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-0.5">
        <span>Subscribed on</span>
        <span class="break-all font-medium">
          {{ data().profile.date_subscribed | date: 'dd MMM yyyy' }}
        </span>
      </div>
    </div>
  </p-dialog>
}

@if (aliasToDelete()) {
  <p-dialog
    header="Delete alias?"
    [(visible)]="isDeleteAliasDialogVisible"
    (onHide)="aliasToDelete.set(null)"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <div class="flex flex-col gap-6">
      <span class="text-lg font-medium break-all">{{ aliasToDelete().full_address }}</span>

      <p>
        Once you delete this alias, it cannot be recovered. You will no longer receive any emails
        sent to it.
      </p>

      <p>
        If you use this alias to sign in to any accounts, you should change those account emails
        before deleting this alias.
      </p>

      <p-message severity="error" icon="ph ph-warning" class="delete-alias-message">
        <p class="font-normal">This action cannot be undone.</p>
      </p-message>
    </div>

    <ng-template #footer>
      <div class="w-full flex gap-4 mt-2">
        <p-button
          label="Cancel"
          severity="secondary"
          fluid
          class="flex-1"
          (click)="isDeleteAliasDialogVisible.set(false)"
        />

        <p-button
          label="Delete"
          severity="danger"
          fluid
          [loading]="isDeletingAlias()"
          class="flex-1"
          (click)="confirmDeleteAlias()"
        />
      </div>
    </ng-template>
  </p-dialog>
}

@if (data()) {
  <p-dialog
    header="Create alias"
    [(visible)]="isCreateAliasDialogVisible"
    [focusOnShow]="false"
    modal
    draggable="false"
    resizable="false"
    dismissableMask
    [style]="{ margin: '16px', width: '400px', maxWidth: '100%' }"
  >
    <ng-template #closeicon>
      <p-button icon="ph ph-x" rounded severity="secondary" />
    </ng-template>

    <form #createAliasFormRef="ngForm" (ngSubmit)="createAlias(createAliasFormRef)">
      <p-tabs
        [(value)]="createAliasTabValue"
        (valueChange)="onCreateAliasTabChange()"
        class="create-alias-tabs"
      >
        <p-tablist>
          <p-tab value="random">Random</p-tab>
          <p-tab value="domain">Custom</p-tab>
        </p-tablist>

        <p-tabpanels>
          <p-tabpanel value="random">
            @if (!data().profile.at_mask_limit) {
              <div class="flex flex-col gap-4">
                <p-floatlabel variant="in">
                  <input
                    pInputText
                    id="random-alias-label"
                    name="randomAliasLabel"
                    [(ngModel)]="createAliasForm.randomAliasLabel"
                    [disabled]="isCreatingAlias()"
                    autocomplete="off"
                    fluid
                  />
                  <label for="random-alias-label">Label</label>
                </p-floatlabel>
              </div>
            } @else {
              <div class="flex flex-col items-center gap-4 text-current/50">
                <i class="ph ph-warning text-5xl"></i>

                <span class="text-center text-balance">
                  Alias limit reached. Delete an existing alias or upgrade to premium to create
                  more.
                </span>
              </div>
            }
          </p-tabpanel>

          <p-tabpanel value="domain">
            @if (data().profile.has_premium) {
              @if (data().profile.subdomain) {
                <div class="flex flex-col gap-4">
                  <div class="flex flex-col gap-2">
                    <p-floatlabel variant="in">
                      <input
                        pInputText
                        id="custom-alias-address"
                        name="customAliasAddress"
                        [(ngModel)]="createAliasForm.customAliasAddress"
                        autocomplete="off"
                        fluid
                        #customAliasAddress="ngModel"
                        [invalid]="customAliasAddress.invalid && customAliasAddress.touched"
                        [disabled]="isCreatingAlias()"
                        required
                      />
                      <label for="custom-alias-address">Address</label>
                    </p-floatlabel>

                    @if (customAliasAddress.invalid && customAliasAddress.touched) {
                      <p-message severity="error" size="small" variant="simple" class="px-2">
                        Address is required.
                      </p-message>
                    }
                  </div>

                  <p-floatlabel variant="in">
                    <input
                      pInputText
                      id="custom-alias-label"
                      name="customAliasLabel"
                      [(ngModel)]="createAliasForm.customAliasLabel"
                      [disabled]="isCreatingAlias()"
                      autocomplete="off"
                      fluid
                    />
                    <label for="custom-alias-label">Label</label>
                  </p-floatlabel>
                </div>
              } @else {
                <div class="flex flex-col items-center gap-4 text-current/50">
                  <i class="ph ph-warning text-5xl"></i>

                  <span class="text-center text-balance">
                    Custom aliases are only available after setting a subdomain.
                  </span>
                </div>
              }
            } @else {
              <div class="flex flex-col items-center gap-4 text-current/50">
                <i class="ph ph-warning text-5xl"></i>

                <span class="text-center text-balance">
                  Custom aliases are only available for Relay Premium subscribers.
                </span>
              </div>
            }
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>

      <button type="submit" class="hidden"></button>
    </form>

    <ng-template #footer>
      <div class="w-full flex gap-4 mt-2">
        <p-button
          label="Cancel"
          severity="secondary"
          fluid
          class="flex-1"
          (click)="isCreateAliasDialogVisible.set(false)"
        />

        <p-button
          label="Create"
          fluid
          [loading]="isCreatingAlias()"
          class="flex-1"
          [disabled]="
            (createAliasTabValue() === 'random' && data().profile.at_mask_limit) ||
            (createAliasTabValue() === 'domain' && !data().profile.has_premium)
          "
          (click)="createAlias(createAliasFormRef)"
        />
      </div>
    </ng-template>
  </p-dialog>
}
