.btn-xs ::ng-deep {
  .p-button {
    height: 24px;
    width: 24px;
  }
}

.statistic-panel ::ng-deep {
  .p-panel-content-container {
    height: 100%;
  }

  .p-panel-content-wrapper {
    overflow: hidden;
  }

  .p-panel-content {
    padding: 12px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}

.p-toast ::ng-deep {
  .p-toast-message-info,
  .p-toast-message-success,
  .p-toast-message-warn,
  .p-toast-message-error,
  .p-toast-message-secondary,
  .p-toast-message-contrast {
    backdrop-filter: blur(32px);
  }
}
