.btn-xs ::ng-deep {
  .p-button {
    height: 24px;
    width: 24px;
  }
}

.statistic-panel ::ng-deep {
  .p-panel-content-container {
    height: 100%;
  }

  .p-panel-content-wrapper {
    overflow: hidden;
  }

  .p-panel-content {
    padding: 12px;
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}

.paginator ::ng-deep {
  p-paginator {
    background: transparent;
    padding: 0px;
    gap: 4px;
  }

  .page-report {
    .p-paginator-current {
      min-width: 160px;
      text-align: center;
    }

    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
      display: none;
    }
  }
}

.p-toast ::ng-deep {
  .p-toast-message-info,
  .p-toast-message-success,
  .p-toast-message-warn,
  .p-toast-message-error,
  .p-toast-message-secondary,
  .p-toast-message-contrast {
    backdrop-filter: blur(32px);
  }
}
